.App {
  text-align: center;
}

.galeria {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  row-gap: 1px;
  column-gap: 1px;
  margin: 1px;
  justify-content: center; margin: auto;
}
.galeria img {max-width: 50px; padding: 5px;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 750px) {
  .galeria {grid-template-columns: repeat(6, 1fr);}
} 



main {max-width: 800px;   align-items: center;
  justify-content: center; margin: auto;}


.App-header {
  background-color: #282c34;
  font-family: "Sofia", sans-serif;
  min-height: 20vh;
  text-shadow: 3px 3px 3px #ababab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-area: h;
  
}

footer {grid-area: f; max-width: 800px;}

aside {font-family: Arial, Helvetica, sans-serif; background-color: #282c34; color: antiquewhite; grid-area: as; max-width: 200px; text-align: justify;}

article {color: red; grid-area: a; max-width: 550px;}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
